@page {
  size: letter portrait;

  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
  }
}

* {
  background-image: none !important;
  background-color: #ffffff !important;
}

